@model WebApplication5.Models.Ads
@{
    ViewBag.Title = "ViewOneAdOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewOneAdOnly</h2>


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <a>
                <img src="~/Uploads/@Url.Content(Model.Ad_image)"
                     class="thumbnail"
                     style="width:350px; height:350px;" />
            </a>
        </div>
        <div class="col-xs-6">
            <a>@Html.ActionLink(Model.ADs_Tittle, "ViewOneAdForUser", new { idofproduct = Model.ADs_ID })</a>
            <p>@Model.Ads_Categories</p>
            <p>@Model.ADs_Discription</p>

            @Html.ActionLink("update", "UpdateAd","Ads", new { idofproduct = @Model.ADs_ID }, new { @class = "btn btn-block btn-primary " })
            @Html.ActionLink("delete", "DeleteAdDB", "Ads", new { IdOfAd = @Model.ADs_ID }, new { @class = "btn btn-block btn-primary " })
        </div>
    </div>
</div>